name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: test on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - name: test
        run: cargo test --verbose
      - name: build
        run: cargo build --verbose
      - name: build release
        run: cargo build --release --verbose

  format:
    name: check formatting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          components: rustfmt
      - name: check formatting
        run: cargo fmt -- --check

  clippy:
    name: run clippy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: install rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          components: clippy
      - name: run clippy
        run: cargo clippy --all --benches --tests --examples --all-features -- -D warnings -W clippy::collapsible_else_if
